#overlay-image {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}

#overlay-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    animation: 1s ease fade;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}